name: navidrome

services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: unless-stopped
    environment:
      ND_MUSICFOLDER: /music
      ND_DATAFOLDER: /data
    volumes:
      - navidrome_data:/data
      - {{ music_dir | default('/opt/navidrome/music') }}:/music:ro,rslave
    env_file:
      - .env
    networks:
      - caddy_net

networks:
  caddy_net:
    external: true

volumes:
  navidrome_data:
